@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jura&family=Butcherman&family=VT323&display=swap');

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.d-flex {
    display: flex;
}

.d-abs {
    position: absolute;
}

.d-rel {
    position: relative;
}

.d-block {
    display: block;
}

.d-sb {
    justify-content: space-between;
}

.d-table {
    display: table;
}

.d-cell {
    display: table-cell;
}

.h-100 {
    height: 100vh;
}

.h-50 {
    height: 50vh;
}

.w-100 {
    width: 100vw;
}

.w-100p {
    width: 100%;
}

.center {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.left {
    text-align: left;

}

.right {
    text-align: right;
}

.white {
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

.clickable {
    cursor: pointer;
}

.selected {
    border: 7px solid #FF0303;
    border-radius: 13px;
}

footer {
    bottom: 10px;
    width: 90vw;
}

.notice {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.v-middle {
    vertical-align: middle;
}

.m-auto {
    margin: auto;
}